.n-link {
  color: white;
  margin-right: 1.3rem;
  font-size: 1.2rem;
}

.hero-bg {
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.mask {
  background: rgba(5, 13, 24, 0.2);
}

.hero-content {
  position: relative;
  z-index: 20;
}

.about-text {
  font-size: 1.2rem;
}
